<%- include('layouts/header')%>
<div class="container">
  <div class="card" style="width: 18rem;">
  <div class="card-header">
    Detail family member
  </div>
    <ul class="list-group list-group-flush">
      <% result.forEach(data = { %>
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    <% }); %>
  </ul>
</div>
</div>
<%- include('layouts/footer')%>
